
<article class="sold_order">

<% @line_items.each do |item| %>
  <table>
  <tr>
    <td> 
    <img src=<%= item.product.image %>
    <td>
    <h4><%=  item.product.name %></h4>
    <p><%= item.product.description %></p>
    </td>
    <td>
    <h3><%= humanized_money_with_symbol item.product.price %>
    </td>
  </tr> 
  </table> 
<% end %>    
<div class="total">
<h3>Total: <%= humanized_money_with_symbol (@order.total_cents / 100.0) %> </h3>
<div>
</article>